PORT=3000
NODE_ENV="development"
DATABASE_URL=postgresql://postgres:local_password_123@localhost:5432/company_inventory_dev?schema=public
SESSION_SECRET="oJD2PDAPbo82mjumQY2CUxcAx6opNU1qMT7u0emFh7A="


